* {
    border:        none;
    border-radius: 0;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
    padding:0;
    font-family:"monospace";
	border-style: none;
}

#cpu,
#memory,
#disk,
#battery,
#clock,
#network,
#network.disconnected,
#tray,
#bluetooth,
#temperature,
#idle_inhibitor,
#keyboard-state,
#custom-updates,
#pulseaudio,
#backlight,
#taskbar,
#workspaces,
#submap,
#custom-brand
{ 
    background:#1e1e1e;
	font-size:14px;
    color: #ffffff;    
    padding: 2px 8px;
    margin:10px 0 0 0;
}

#custom-brand {
    margin-right:12px;
	border-radius:200px;
	padding: 2px 6px 2px 6px;
	background: #8eb33b;
	color:#1e1e1e;
	border:4px solid #1e1e1e;
}

#cpu {
}

#clock {
    border-radius: 0 10px 10px 0;
    margin-right:10px;
    padding: 2px 15px 2px 8px;
}

#network.disconnected, #bluetooth.disabled, #keyboard-state label.capslock.locked {
    color: #8b0000;
}

#cpu, #temperature, #disk, #memory {
    color: #8eb33b;
}

#custom-updates {
    color: #c75646;
}

window#waybar {
    color: #000;
    background-color: transparent;
}

#workspaces {
		border-radius:10px 0 0 10px;
		margin-left:8px;
		padding:1px 0px 1px 10px;
}

#taskbar {
		background:transparent;
		border-radius: 0 4px 4px 0;
		margin-left:4px;
}

#taskbar button {
		margin-right:4px;
		background: rgba(0,0,0,0.1);
		padding:1px 5px;
		border-radius: 200px;
}

#taskbar button:hover {
		background: #1f1f1f;
}

#taskbar button.active {
		background: #1f1f1f;
}

#submap {
    background: #C75646;
    border-radius:10px;
    margin-left:10px;
}

#workspaces button {
    color: transparent;
	padding:0px 2px;
	margin:10px 4px;
	font-size:0px;
	border-radius:10px;
	min-width:4px;
	background:rgba(255,255,255,0.1);
	min-height:4px;
	border:1px solid #f7f7f7;
}

#workspaces button.active, #workspaces button:hover {
    color: #f7f7f7;
	background:#f7f7f7;
}

#workspaces button.urgent {
    color: #f7f7f7;
	background:#C75646;
}

#battery.warning {
   color: rgba(255, 210, 4, 1);
}

#battery.critical {
    color: rgba(238, 46, 36, 1);
}

